/* App.css */

.App{
  display: flex;
  flex-wrap: wrap;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f6f6ee;
}


.icon-logo{
  padding-left: 44px;
  padding-top: 51px;
  padding-bottom: 40px;
  background-color: #fff;
}
.logo{
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  padding-top: 50px;
  padding-left: 8px;
  padding-right: 106px;
  padding-bottom: 30px;
  color: #1d1d1d;
  background-color: #fff;
}

.icons-dash, .permi-icons-dash {
  margin-right: 13px;
}

.icon-text-container {
  display: flex;
  align-items: center;
}

.dashboard {
  display: flex;
  min-height: 100vh;
}

.dashboard-nav {
  width: 200px;
  background-color: #fff;
  padding: 20px 20px 20px 27px;
}

.dashboard-option {
  font-family: 'Satoshi Variable';
  font-style: normal;
  font-weight: bold;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.dashboard-option:hover,.dashboard-option.active {
  background-color: #D3F36A;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .dashboard-nav {
    width: 100%;
  }
}
.header {
  background-color: #F6F6EF;
  padding-top: 7px;
  padding-left: 40px;
  padding-right: 60px; 
  color: #000000;
  border-bottom: 1px solid #C2C2C2;
  font-family: 'Satoshi Variable';
  font-style: normal;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button.logout {
  display: flex;
  align-items: center;
  margin-left: 780px;
  font-family: 'Satoshi Variable';
  font-style: normal;
  font-size: medium;
  color: #f6f6ee;
  font-weight: bold;
  border: 2px solid #C2C2C2;
  background-color: rgb(255, 89, 89);
  border-radius: 10px;
  width: 155px; /* Adjusted width to accommodate the gap */
  height: 30px;
  padding: 20px ; /* Adjusted padding to create space between icon and text */
  gap: 15px; /* Add some space between the icon and text */
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

button.logout:hover,
button.logout:active {
  background-color: #f6f6ee;
  color: rgb(255, 89, 89);
  border-color: rgb(255, 89, 89);
}

button.logout:hover .icolog,
button.logout:active .icolog {
  fill: rgb(255, 89, 89);
}

.icolog {
  height: 20px;
  width: 20px;
  transition: fill 0.2s ease-in-out;
  fill: #f6f6ee;
}
