.student-box1 {
  box-sizing: border-box;
  position: relative;
  width: 400px;
  height: 400px; /* Adjusted height to accommodate varying content */
  margin: 20px;
  background: #FFFFFF;
  border: 0.860759px dashed #B6B6B6;
  border-radius: 34.4304px;
}
.student-box1 {
  box-sizing: border-box;
  position: relative;
  width: 400px;
  height: 400px; /* Adjusted height to accommodate varying content */
  margin: 20px;
  background: #FFFFFF;
  border: 0.860759px dashed #B6B6B6;
  border-radius: 34.4304px;
}

.action-buttons {
  position: absolute;
  bottom: 20px; /* Adjust the distance from the bottom */
  left: 40px; /* Align to the left */
  right: 0; /* Align to the right */
  display: flex;
  justify-content: space-between;
}

.accept-button,
.reject-button {
  padding: 8px 15px;
  margin-right: 7px;
  margin-left: 55px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.accept-button {
  background-color: #4CAF50; /* Green */
  color: white;
}

.reject-button {
  background-color: #f44336; /* Red */
  color: white;
}

.accepted-status {
  margin-left: 30px;
  margin-bottom: 20px;
  color: #4CAF50; /* Green */
}

.rejected-status {
  margin-left: 30px;
  margin-bottom: 20px;
  color: #f44336; /* Red */
}

.status {
  margin-left: 60px;
  margin-bottom: 20px;
}


.image {
  position: absolute;
  width: 98px;
  height: 91px;
  left: 19px;
  top: 19px;
  background: #D3F36A;
  border-radius: 20px;
}

.name {
  position: absolute;
  text-align: left;
  width: 200.39px;
  height: 28px;
  left: 136px;
  top: 18px;
  font-family: 'Satoshi Variable';
  font-style: normal;
  font-weight: 700;
  font-size: 27.9432px;
  line-height: 35px;
  color: #313630;
}

.branch {
  position: relative;
  width: 400px;
  height: 18px;
  left: 28px;
  top: 160px; /* Adjusted top position */
}

.start-time {
  font-family: 'Satoshi Variable';
font-style: normal;
  position: relative;
  width: 400px;
  height: 18px;
  top: 175px;
  left: 28px;
   /* Adjusted top position */
}

.end-time {
  font-family: 'Satoshi Variable';
font-style: normal;
  position: relative;
  width: 400px;
  height: 18px;
  left: 28px;
  top: 190px; /* Adjusted top position */
}

 
.semester{
  /* Semester: */

position: absolute;
width: 150px;
height: 18px;
left: 28px;
top: 130px;
text-align: left;
font-family: 'Satoshi Variable';
font-style: normal;
font-weight: 400;
font-size: 17.9635px;
line-height: 22px;

color: #313630;


}
.request{
position: absolute;
width: 150px;
height: 18px;
left: 28px;
top: 260px;
text-align: left;
font-family: 'Satoshi Variable';
font-style: normal;
font-weight: 400;
font-size: 17.9635px;
line-height: 22px;

color: #313630;

}

.bold {
  font-weight: bold;
}
